@import url('https://fonts.googleapis.com/css?family=Comfortaa|Exo|Nanum+Gothic|Orbitron|Patrick+Hand|Quattrocento|Tomorrow&display=swap');


html,h1,h2,p, button{
	font-family: "Tomorrow";
}

h1{
    text-align: center;
    color: #3B6BB9;
    text-shadow: 1px 1px #5A86CA;
    font-size: 50px;

}

h5{
    text-align: center;
    color: #3B6BB9;
}

.jumbotron{
  background-image: url('/static/images/home4.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.jumbotron-content {
    color: white;
    text-align: center;
}

.navbar{
    text-align: center;
}

#getintouch{
    margin-top: 80px;
}

h2>i{
    margin-left: 25px;
}

#topdash{
    font-size: 40px;
    font-family: Tomorrow;
    text-align: center;

}