@import url('https://fonts.googleapis.com/css?family=Comfortaa|Exo|Nanum+Gothic|Orbitron|Patrick+Hand|Quattrocento|Tomorrow&display=swap');

html,h1, p, button{
	font-family: "Tomorrow";
}

h1{
    text-align: center;
    color: #3B6BB9;
    text-shadow: 1px 1px #5A86CA;
    font-size: 50px;
}

.bg-primary{
width=800px}
}

h5{
    text-align: center;
    color: #3B6BB9;
}

.jumbotron{
  background-image: url('/static/images/home4.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  width:100%;
}

.jumbotron-content {
    color: white;
    opacity: .8;
    text-align: center;
}

#aboutpage{
  background-image: url('/static/images/home11.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin: auto;
  position: relative;
   width: 100%;
}

.top{
   margin-top: 70px;
   background: #F4F8FD;
   width:50%;
   opacity: .8;
}

.middle{
margin-top: 10px;
}

.abouttext{
margin-top: 155px;
color: white;
}

.navbar{
    text-align: center;
}

#getintouch{
    margin-top: 80px;
}

h2>i{
    margin-left: 25px;
}

#topdash{
    font-size: 40px;
    font-family: Tomorrow;
    text-align: center;


.shrinkbox {
	width: 80%;
	margin: auto;
	padding-top: 25px;
}

.blue{
    color:blue;
    font-weight: bold;
    margin-right:8px
}


.login{
margin-top: 30px;
}

