{% extends 'base.html' %}

{% block title %}
    <title>ABOUT</title>

{% endblock %}


{% block content %}

  <div class="jumbotron" id="aboutpage">
    <div class="jumbotron-content">
        <div class="top container">
            <h1>TallyBI</h1>
            <h5 style="text-align: center; color: black">Your Business Intelligence Employee Management Tracker</h5>
        </div>
        <br>
        <div class="middle display-8">
        <h4>Management transparency stands out as the most important factor in determining employee happiness, but how do you know how satisfied your employees are?</h4>
        </div>
        <p class="lead abouttext">
		<h4 class="display-8">
TallyBI was designed to measure employee satisfaction and productivity.<br><br>
All data submitted are anonymous to ensure employees answer freely.<br>
Studies have shown that on average, happy and engaged employees will increase sales by 37%, improve productivity by 31%, improve accuracy on specific tasks by 19%, and increase the health and longevity of your employees.<br><br>
In a nutshell, happy workers are more productive workers!</h4></p>
	</div>
  </div>
{% endblock %}