<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body style="margin-left:30px;">
        <form method="POST">
            {% for question in questions_list %}
                <h5>{{ question.question }}</h5>
                    {% for i in range(5)%}
                        <label>{{i+1}}</label>
                        <input style="margin:8px;" type="radio" name="{{ question.id }}" value="{{i+1}}">
                    {% endfor%}
            <hr>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary">SEND</button>
        </form>
</body>
</html>
<!--{% include 'navbar.html' %}-->
<!--<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>-->
<!--<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">-->
<!--<link href="{{ url_for('static', filename='js/scripts.js') }}" rel="stylesheet"></html>-->

