{% extends 'base.html' %}

	{% block content %}
        {% with messages = get_flashed_messages() %}
  			{% if messages %}
    		   {% for message in messages %}
      			  {{ message }}
    		   {% endfor %}
  	         {% endif %}
        {% endwith %}
<br>
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-5 rounded-lg mt-5">
                        <div class="card-header bg-primary"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                        <div class="card-body">

	<form method="POST">
        <p>
            {{ form.first_name.label }}
            {{ form.first_name (size ="40")}}
        </p>
        <p>
            {{ form.last_name.label }}
            {{ form.last_name (size ="40")}}
        </p>
        <p>
            {{ form.email.label}}
            {{ form.email (size ="40")}}
        </p>
        <p>
            {{ form.company_name.label}}
            {{ form.company_name (size ="40")}}
        </p>
        <p>
            {{ form.area_of_business.label (size=50,class_='blue') }}
            {{ form.area_of_business (size ="40")}}
        </p>
        <p>
            {{ form.company_role.label}}
            {{ form.company_role (size ="40")}}
        </p>
        <p>
            {{ form.office_address.label}}
            {{ form.office_address (size ="40")}}
        </p>
        <p>
            {{ form.phone_number.label}}
            {{ form.phone_number (size ="40")}}
        </p>

        <p>
            {{ form.num_of_employees.label }}
            {{ form.num_of_employees (size ="40")}}
        </p>
        <p>
            {{ form.num_of_departments.label }}
            {{ form.num_of_departments (size ="40")}}
        </p>
        <p>
		    {{ form.username.label}}
		    {{ form.username (size ="40")}}
		</p>
		<p>
		    {{ form.password.label }}
		    {{ form.password (size ="40")}}
		</p>
        <p>
		    {{ form.confirm.label}}
		    {{ form.confirm (size ="40")}}
		</p>
         <p>
		    {{ form.recaptcha (size ="40")}}
		</p>
        <p>
		{{ form.submit(size= "20", type="button", class="btn btn-primary btn-md")}}
		</p>
	</form>
	{% endblock %}



